<nav class="navbar navbar-expand-md navbar-light bg-light border-

sticky-top">
    <a class="navbar-brand" href="/"><i class="fa fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">All Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listings/new">Add new Listing</a>
          </li>
      </ul>
      <div class="navbar-nav ms-auto">
        <% if (currentUser) { %>
          <a href="/logout" class="nav-link">Log Out</a>
        <% } %>
        <% if (!currentUser) { %>
          <a href="/singup" class="nav-link">Sing Up</a>
          <a href="/login" class="nav-link">Login</a>
        <% } %>
        
      </div>
    </div>
</nav>