<% layout('./layouts/boilerplate') -%>
<%= %>
<div class="row p-5">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Sing Up on wanderlast</h1>
        <form action="/singup" method="POST" class="needs-validation" novalidate>
            <div>
                <label for="title" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
                <div class="valid-feedback">looks good</div>
            </div>
            <div>
                <label for="title" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div class="valid-feedback">looks good</div>
            </div>
            <div>
                <label for="title" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="valid-feedback">looks good</div>
            </div>
            <button class="btn btn-success mt-3" type="submit">singup</button>
        </form>
    </div>
    <div class="col-3"></div>
</div>